/*
Theme Name: Maison GIA
Theme URI: https://github.com/bobbingwide/maison-gia
Description: A child theme of Maison theme for GIA Equation
Author: Herb Miller
Author URI: https://bobbingwide.com/about-bobbing-wide/herb-miller/
Version: 1.0.2
Text Domain: maison
Template: maison
*/

.edgtf-title .edgtf-title-holder .edgtf-page-title {
    position: static;
    display: block;
    /* vertical-align: bottom; */
    margin: 172px 0 0 22.5px;
}

.admin-bar .edgtf-title .edgtf-title-holder .edgtf-page-title {
    margin-top: 140px;
}

.admin-bar .edgtf-title {
    height: 200px;
}
.edgtf-title {
    height: 232px;
}

.modal-style.style-1 .awsm-modal-items-main {
    max-width: 800px;
    margin: 0 auto 0 312px;
}

@media only screen and (max-width: 1024px) {
    .edgtf-title .edgtf-title-holder .edgtf-page-title {
        margin: 0px auto;
    }

    .edgtf-title {
        height: auto;
        min-height: 100px;
    }
    .admin-bar .edgtf-title .edgtf-title-holder .edgtf-page-title {
        margin-top: 0px;
    }
    .modal-style.style-1 .awsm-modal-items-main {
        margin: 0px auto 0px auto;
    }
}




.edgtf-title {
    background-color: rgba(0,0,0,0);
}

/*
.edgtf-header-vertical .edgtf-vertical-area-background {
    width: 280px;
}
*/


